$base-color: #262631
$background-color: #fcfcfc
$sidebar-background-color: darken($background-color, 10%)
$tint: #f5f5f5
$border-color: #d0d0d0
$link-color: #006DD1
$visited-link-color: darken($link-color, 5%)
$hover-link-color: lighten($link-color, 15%)
$active-link-color: darken($link-color, 20%)
$nav-link-color: desaturate(lighten($link-color, 25%), 35%)
$meta-color: #87877D
