$base-color: #262631
$background-color: #fff
$tint: #EAF4F7
$border-color: #71ADCE
$link-color: #006DD1
$visited-link-color: darken($link-color, 5%)
$hover-link-color: lighten($link-color, 15%)
$active-link-color: darken($link-color, 20%)
$nav-link-color: desaturate(lighten($link-color, 25%), 35%)
$meta-color: #87877D

$contact-email-color: grey
$contact-twitter-color: #4099ff
$contact-github-color: #676767
$contact-facebook-color: #4c66a4
$contact-googleplus-color: #dd4b39
$contact-linkedin-color: #4875b4
$contact-soundcloud-color: #ff7700
$contact-stackoverflow-color: #ef8236
$contact-steam-color: black
