%nav.breadcrumb
  %a(href="#{url('/')}") home

#content
  %section(role="main")
    %h1 Sorry, something went wrong

    %p
      An error occurred whilst trying to serve your page. Please
      bear with us, or try another page.

= haml :sidebar, :layout => false
