%footer.branding
  %p
    - if Nesta::App.development?
      Development
    - else
      Hosted on
      = succeed "." do
        %a(href="http://openshift.com") OpenShift
      Powered by
      = succeed "." do
        %a(href="http://nestacms.com") Nesta
