%h1 contact me

%a.contact{ :href => "mailto:price.m.adam@gmail.com" }
  %img.contact.email{ :alt => "email", :title => "Email", :src => "/attachments/contact/email.png" }

- [ [ "twitter",       "Twitter",       "http://twitter.com/komidore64",                    "twitter.png"       ],
    [ "github",        "Github",        "http://github.com/komidore64",                     "github.png"        ],
    [ "facebook",      "Facebook",      "http://facebook.com/komidore64",                   "facebook.png"      ],
    [ "googleplus",    "Google+",       "http://plus.google.com/113591901361575935521",     "googleplus.png"    ],
    [ "linkedin",      "Linkedin",      "http://linkedin.com/in/maprys",                    "linkedin.png"      ],
    [ "soundcloud",    "SoundCloud",    "http://soundcloud.com/komidore64",                 "soundcloud.png"    ],
    [ "stackoverflow", "StackOverflow", "http://stackoverflow.com/users/336520/komidore64", "stackoverflow.png" ],
    [ "steam",         "Steam",         "http://steamcommunity.com/id/komidore64",          "steam.png"         ] ].each do |contact|
  %a.contact{ :href => contact[2], :target => "_blank" }
    %img{ :class => "contact #{contact[0]}", :alt => contact[0], :title => contact[1], :src => "/attachments/contact/#{contact[3]}" }

:markdown
  ##### icons from [simpleicons](http://github.com/danleech/simpleicons) by [Dan Leech](http://github.com/danleech) on Github.
