Link text: home

:markdown
  Hello, I'm Adam.

  On `maprys.net`, you'll find a few ramblings, infrequently updated and added to by me, dealing with all kinds of different topics.

  ---

%section.articles= article_summaries(latest_articles)
